@media screen and (min-width: 1100px){

#controls{margin-left: 100px !important;}
#controls .right{margin-right: 100px;}

#content {margin-top: 0px;}
#content-wrapper {padding-left: 100px !important;width: 100% !important;}
#navigation{
    background-color: #ddd; /*comment this line for default color or set #0082c9 for nextcloud blue or #1d2d44 for owncloud blue*/
    visibility:visible;
    display: block !important;
    position:fixed !important;
    bottom:0px;
    width: 100px !important;
    top:45px;
    left:0px;
    max-height: 100% !important;
    margin-top:0px !important;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 0px transparent;
    border-radius: 0px;
}

/*Hide DropDown Icon on Top of Menu*/
#navigation:after {
  display:none;
}

#navigation #apps ul{text-align: center;}

/* may not be required
app-navigation{width: 19.5% !important;}*/


/* Default Apps */
    
#bookmark_settings {width:19.5% !important;}
.bookmarks_list, #firstrun {left:27% !important;}
#navigation .wrapper {margin: auto;}
#header .icon-caret {display:none;}

table.multiselect thead{left: auto !important;margin: 0px !important; padding: 0px !important;}
/*table.multiselect thead{width: 76% !important; left: auto !important; margin: 0px !important; }*/
#slideshow{z-index: 5000 !important;}

/***********************************************************
*
*       3rd Party Apps
*
************************************************************/

/* owncloud-markdown (https://github.com/icewind1991/owncloud-markdown) */
#md_preview {padding-left: 60px;}

}

