@media screen and (min-width: 1100px){

#expanddiv {background-color: #1d2d44;}
#app-navigation {width: 22%;}
#app-navigation > ul {width: 100%;}
#app-navigation + #app-content #controls{left: 27.3% !important;}
#content {margin-top: 0px;}
#content-wrapper {padding-left: 6% !important;}
#navigation{
    background-color: #1d2d44;
    visibility:visible;
    display: block !important;
    position:fixed !important;
    bottom:0px;
    width: 6% !important;
    top:45px;
    left: 0px;
    max-height: 100% !important;
    margin-top:0px !important;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 0px transparent;
    border-radius: 0px;
}

#navigation:after{display: none;}
#navigation a{display: inline-block; width: 100%; height: 100%; padding: 0 0;}
#navigation #apps { margin-left:-10px; margin-top: 10px; }
#navigation #apps ul{text-align: center;}
#navigation .app-icon{ height: 1em;width: 1em; }
#navigation a span{ display: block; font-size: 11px; }


/***********************************************************
*
*       Core & default apps
*
************************************************************/

#bookmark_settings {width:19.5% !important;}
.bookmarks_list, #firstrun {left:27% !important;}
#navigation .wrapper {margin: auto;}
#header .icon-caret {display:none;}
#usersearchform {left: 60% !important;}
table.multiselect thead{width: 76% !important; left: 24.3% !important; margin: 0px !important; }
#slideshow{z-index: 5000 !important;}
.app-gallery #controls,
.app-galleryplus #controls {left: 5%; width: 95%;}

/***********************************************************
*
*       3rd Party Apps
*
************************************************************/

/* owncloud-markdown (https://github.com/icewind1991/owncloud-markdown) */
#md_preview {padding-left: 60px;}

}
