/*not used css since commit 35353dc53824f90e9de18efb905d5b26c556f8f4 from upstream */

/*has no effect for me in little testing*/
table.multiselect thead{width: 76% !important; left: 24.3% !important; margin: 0px !important; }


 +/* oc 7 compatibility */
+#leftcontent{width: 21% !important;}
+#rightcontent{width: 78% !important;}
+/* /oc 7 */

